@{
    ViewBag.Title = "SamplePage";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <!--Forget Password-->
    <section id="contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Forget Password</h2>

                    <hr class="bottom-line">
                </div>

                <div id="errormessage"></div>

                <form action="~/TLS/ForgetPassword" method="post" role="form" class="contactForm">
                    <div class="col-md-6 col-sm-6 col-xs-12 left">

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>

                        <!-- Button -->
                        <div class="header-section text-center">
                            <div class="col-xs-12">

                                <button type="submit" id="submit" name="signUp" class="form contact-form-button light-form-button oswald light" position="absolute">Verify</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!--/ Forget password-->



    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>

</body>
</html>
