

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@section Header{
    <script type="text/javascript" src="@Url.Content("~/Scripts/mywebapp/TLS/mywebapp.ui.SignUp1.js?id=")@Guid.NewGuid().ToString()"></script>
}
@section scripts
{
    <script type="text/javascript">

        $(function () {
            MyWebApp.UI.SignUp1.readyMain();

        });

        function validateData() {
            alert('jazib pagal hai 2');
        }

    </script>
}

    <!--sign up 1-->
    <section id="contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Sign Up</h2>

                    <hr class="bottom-line">
                </div>

                <h3>Step 1</h3>
                <br />

                <div id="errormessage"></div>
                <form action="~/TLS/Signup1" method="post" role="form" class="contactForm">
                    <div class="col-md-6 col-sm-6 col-xs-12 left">

                        <div class="form-group">
<<<<<<< HEAD
                            <input type="email" class="form-control" required name="email" id="emailAddressTextBox" placeholder="Email Address" data-rule="email" data-msg="Please enter a valid email" />
=======
                            <input onblur="validateData()" type="email" class="form-control" required name="email" id="email" placeholder="Email Address" data-rule="email" data-msg="Please enter a valid email" />
>>>>>>> c577c8b817152eff18cc6c02bfb4ee1bad6fe58c
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <div class="validation"></div>
                        </div>

                        <br />
                        <div class="form-group">
                            <div class="validation"></div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="validation"></div>
                        </div>
                        <br />

                        <div class="form-group">
                            <div class="validation"></div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="validation"></div>
                        </div>
                        <br />

                        <div class="form-group">
                            <input type="radio" name="usertype" id="usertype" value="lawyer" data-rule="minlen:4" data-msg="Please enter at least 4 chars"> Lawyer
                            <input type="radio" name="usertype" id="usertype" value="client" data-rule="minlen:4" data-msg="Please enter at least 4 chars"> Client
                            <div class="validation"></div>
                        </div>
                        <!-- Button -->
                        <div class="col-xs-12">
                            <div class="header-section text-center">
                                <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light" position="absolute">Next</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!--/ sign up 1-->



    