@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@section Header{
    <script type="text/javascript" src="@Url.Content("~/Scripts/mywebapp/TLS/mywebapp.ui.SignUp3.js?id=")@Guid.NewGuid().ToString()"></script>
}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            MyWebApp.UI.SignUp3.readyMain();

        });

    </script>
}


    <!--sign up 3-->
    <section id="contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Sign Up</h2>

                    <hr class="bottom-line">
                </div>
                <h4>Step 3 (Lawyer)</h4>
                <br />
                <!--
                <div id="sendmessage">Your have succefully completed signup step 1</div>
                <div id="errormessage"></div>
                -->

                <form action="" method="post" role="form" class="contactForm">
                    <div class="col-md-6 col-sm-6 col-xs-12 left">

                        <div class="form-group">
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">

                            Expertise <br>
                            <input type="checkbox" name="expertise" value="Criminal">Criminal<br>
                            <input type="checkbox" name="expertise" value="Tax">Tax<br>
                            <input type="checkbox" name="expertise" value="Civil">Civil

                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            Meeting hours <br>
                            <input type="checkbox" name="expertise" value="Monday">Monday  <input type="text" name="" id="" placeholder="From" />  <input type="text" name="" id="" placeholder="Till" /> <br>
                            <br /><input type="checkbox" name="expertise" value="Tuesday">Tuesday<input type="text" name="" id="" placeholder="From" /><input type="text" name="" id="" placeholder="Till" /><br>
                            <br /><input type="checkbox" name="expertise" value="Wednessday">Wednessday<input type="text" name="" id="" placeholder="From" /><input type="text" name="" id="" placeholder="Till" /><br>
                            <br /><input type="checkbox" name="expertise" value="Thursday">Thursday<input type="text" name="" id="" placeholder="From" /><input type="text" name="" id="" placeholder="Till" /><br>
                            <br /><input type="checkbox" name="expertise" value="Friday">Friday<input type="text" name="" id="" placeholder="From" /><input type="text" name="" id="" placeholder="Till" /><br>
                            <br /><input type="checkbox" name="expertise" value="Saturday">Saturday<input type="text" name="" id="" placeholder="From" /><input type="text" name="" id="" placeholder="Till" /><br>
                            <br /><input type="checkbox" name="expertise" value="Saturday">Sunday<input type="text" name="" id="" placeholder="From" /><input type="text" name="" id="" placeholder="Till" />

                            <div class="validation"></div>
                        </div>




                        <div class="form-group">
                            <div class="validation"></div>
                        </div>




                        <div class="header-section text-center">
                            <div class="col-xs-12">
                                <!-- Button -->

                                <button type="submit" id="btn-next" name="btn-next" class="form contact-form-button light-form-button oswald light">Save</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!--/ sign up 3-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>

